<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userdata</key>
	<dict>
		<key>name</key>
		<string>MTU3MjA2MjQwMA==</string>
		<key>thumbUrl</key>
		<string>aHR0cDovL3Fwa2c4ODguY29tLzNoNDVnai9rYTlmL2FwaS9mb3J3YXJkL3IyaTMzV1dNN2poQ1R6YTE=</string>
		<key>imageUrl</key>
		<string>aHR0cDovL3FwMmtnLmNvbS8zaDQ1Z2ova2E5Zi9hcGkvZm9yd2FyZC9yMDRNVlQ4VmZvVG1Ea21T</string>
		<key>imageType</key>
		<string>Launch</string>
	</dict>
</dict>
</plist>
